
main {
    width: auto;
    text-align: center;

    article {
        padding: 0 10px 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

}

@media screen and (min-width: map-get($breakpoints,'medium')) {

    body {
        padding-left: $sidebar-size;
    }

    main {
        text-align: left;
        padding-top: 28px;
        padding-left: 40px;

        article {
            max-width: 1080px;
            text-align: center;
            padding-bottom: 40px;
        }

        img {
            width: 100%;
            max-width: 1080px;
        }

        section.year {
            article {
                max-width: 250px;
                margin: 0;
                padding: 0 10px 10px;
                float: left;
                display: inline-block;
                height: 200px;
            }
        }
    }
}
